.mdl-dropdown {
  display: inline-block;
  height: 34px;
  overflow: hidden;
  border: 1px solid #ccc;
  position:relative;
}

.mdl-dropdown__select {
  background: transparent;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
}

.mdl-dropdown__arrow {
  position: absolute;
  top:6px;
  right:0;
}
